[submodule ".vim/pack/packages/start/ctrlp.vim"]
	path = .vim/pack/packages/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git

[submodule ".vim/pack/packages/start/nerdtree"]
	path = .vim/pack/packages/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git

[submodule ".vim/pack/packages/start/vim-airline"]
	path = .vim/pack/packages/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git

[submodule ".vim/pack/packages/start/vim-commentary"]
	path = .vim/pack/packages/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git

[submodule ".vim/pack/packages/start/vim-prettier"]
	path = .vim/pack/packages/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git

