"*":
  "autocomplete-plus":
    enableAutoActivation: false
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "autocomplete-atom-api"
      "bookmarks"
      "git-diff"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-java"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-rust-bundled"
      "language-sass"
      "language-toml"
      "language-typescript"
      "language-xml"
      "styleguide"
      "github"
      "language-git"
      "language-go"
      "language-html"
      "language-property-list"
      "open-on-github"
      "go-to-line"
      "background-tips"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Fira Code, SF Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
  "git-blame":
    columnWidth: 365
  "linter-ui-default":
    showPanel: true
  welcome:
    showOnStartup: false
